body {
  background-color: black;
  margin: 0;
}

.visuallyhidden {
  border: 0;
  clip-path: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
  background-color: white;
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
  width: 100%;

  p {
    margin: 0;
  }
}

.blank-page {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}
